<nb-layout>

  <nb-layout-header fixed>
    <nb-actions size="large">
      <nb-action><h3 [routerLink]="currentUser?'/dashboard':'/'">Diethunter</h3></nb-action>
      <nb-action *ngIf="currentUser">Logged In As {{currentUser!.username}}</nb-action>
      <nb-action *ngIf="currentUser"><h5 [routerLink]="'/create'" nbTooltip="Create a recipe.">Create</h5></nb-action>
      <nb-action *ngIf="currentUser" (click)="auth.signOut()"><h5 nbTooltip="Log out of your account.">Logout</h5></nb-action>
      <nb-action *ngIf="!currentUser"><h5 [routerLink]="'/login'" nbTooltip="Log into your account if you have one">Log In</h5></nb-action>
      <nb-action *ngIf="!currentUser"><h5 [routerLink]="'/signup'" nbTooltip="Sign up for a Diethunter account">Sign Up</h5></nb-action>
      <nb-action><h5 [routerLink]="'/search'" nbTooltip="Filter and search recipes that fit your needs.">Search</h5></nb-action>
      <nb-action><h5 [routerLink]="'/explore'" [queryParams]="{page: 1}" nbTooltip="View all recipes without filtering.">Explore</h5></nb-action>
      <nb-action><nb-icon icon="sun" nbTooltip="Change theme" (click)="changeTheme()"></nb-icon></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  Diethunter: Don't be Limited. Copyright {{copyrightYear}} Diethunter.
  </nb-layout-footer>

</nb-layout>
