<ng-container *ngIf="production">
  <script async defer data-website-id="830e9453-90ba-44b9-a167-9717eaa53091" src="https://diethunter-analytics.up.railway.app/umami.js"></script>
</ng-container>
<nb-layout>

  <nb-layout-header fixed>
    <nb-actions size="large">
      <nb-action><h3 [routerLink]="currentUser?'/dashboard':'/'" class="grow">Diethunter</h3></nb-action>
      <nb-action *ngIf="currentUser">Logged In As {{currentUser!.username}}</nb-action>
      <nb-action *ngIf="currentUser"><h5 [routerLink]="'/create'" class="grow">Create</h5></nb-action>
      <nb-action><h5 [routerLink]="'/search'" class="grow">Search</h5></nb-action>
      <nb-action><h5 [routerLink]="'/explore'" [queryParams]="{page: 1}" class="grow">Explore</h5></nb-action>
      <nb-action *ngIf="currentUser" (click)="auth.signOut()"><h5 class="grow">Logout</h5></nb-action>
      <nb-action *ngIf="!currentUser"><h5 [routerLink]="'/login'" class="grow">Log In</h5></nb-action>
      <nb-action *ngIf="!currentUser"><h5 [routerLink]="'/signup'" class="grow">Sign Up</h5></nb-action>
      <nb-action><nb-icon icon="sun" nbTooltip="Change theme" (click)="changeTheme()" class="grow"></nb-icon></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  Diethunter: Don't be Limited. Copyright {{copyrightYear}} Diethunter.
  </nb-layout-footer>

</nb-layout>
