<h2>Sign Up</h2>
<form [formGroup]="signupForm" (ngSubmit)="signUp()">
  <!-- Ex. Password too short, missing field, username taken etc -->
  <nb-alert status="danger" *ngIf="false">Some weird error</nb-alert>
  <label>Username</label><br>
  <input nbInput fullWidth placeholder="Username" formControlName="username"><br><hr>
  <label>Your Name</label>
  <input nbInput fullWidth placeholder="Name" formControlName="name"><br><hr>
  <label>Password</label>
  <input nbInput fullWidth placeholder="Password" formControlName="password" type="password"><br><hr>
  <label>Confirm Password</label>
  <input [status]="(signupForm.get('password')!.value !== confirmPassword && signupForm.get('password')!.touched ? 'danger' : 'basic') " nbInput fullWidth placeholder="Confirm password" type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
  <br><hr>
  <button type="submit" [disabled]="!signupForm.valid || (signupForm.get('password')!.value !== confirmPassword)" nbButton> Sign Up </button>
</form>
<h6>Already have an account? <a routerLink="/login">Log in</a></h6>
