<h1>Diet Hunter: Catchy Slogan Here</h1>
<hr>
<h2>Eating healthy shouldn't be hard. With Diet Hunter, you can eat healthy without compromises.</h2>
<hr>
<h3>Vegetarian? Vegan? No problem.</h3>
<h5>Our advanced recipe search lets you find recipes that meet your standards.</h5>
<h3>Want to know everything about your food?</h3>
<h5>Our algorithms use the ingredients in your food to create a detailed report so you know exactly what you're eating.</h5>
<h2>Start eating healthy!</h2>
<button nbButton status="success" size="giant" [routerLink]="'/signup'">Sign up with password</button>
<br><br>
<button nbButton status="primary" size="giant">Log in With Google</button>
