<h1>{{recipe!.title}}&nbsp;&nbsp;<app-rating [rating]="recipe!.rating"></app-rating></h1>
<h2><i>{{recipe!.description}}</i></h2>
<h6>Created by <app-userlink [username]="recipe!.user.username + ' (aka ' + recipe!.user.name + ')'"></app-userlink></h6>
<hr>

<nb-alert accent="warning" *ngIf="cuisine">
  Cuisine:
  <br>
  {{cuisine}}
</nb-alert>
<nb-alert accent="info">
  Accommodates for the following dietary restrictions:
  <ul>
    <li *ngIf="recipe!.halal">Halal</li>
    <li *ngIf="recipe!.kosher">Kosher</li>
    <li *ngIf="recipe!.vegan">Vegan</li>
    <li *ngIf="recipe!.vegetarian">Vegetarian</li>
    <li *ngIf="recipe!.nutfree">Nut-free</li>
  </ul>
</nb-alert>
<hr>
<h6>Ingredients</h6>
<nb-alert accent="success">
  <ul>
    <li *ngFor="let ingredient of recipe!.ingredients">
      {{ingredient.amount}}{{isNaN(Number(ingredient.amount)) ? ' of ' : ' '}}{{ingredient.ingredient}} {{ingredient.notes ? "("+ingredient.notes+")" : ""}}
    </li>
  </ul>
</nb-alert>
<hr>
<h6>Instructions</h6>
<nb-alert accent="danger">
  <ol>
    <li *ngFor="let instruction of recipe!.instructions">
      {{instruction}}
    </li>
  </ol>
</nb-alert>
<hr>
<h6>{{expand ? "Hide" : "Show"}} Nutrition</h6>
<br>
<nb-toggle [(checked)]="expand"></nb-toggle>
<ng-container *ngIf="expand">
  <nb-alert accent="primary">
    <table>
      <tr>
        <th>Nutrient name</th>
        <th>Nutrient amount</th>
        <th>Percent of Daily Needs</th>
      </tr>
      <tr *ngFor="let nutrient of recipe!.nutrition">
        <td>{{nutrient.name}}</td>
        <td>{{nutrient.amount}}&nbsp;{{nutrient.unit}}</td>
        <td>{{nutrient.percentOfDailyNeeds}}%</td>
      </tr>
    </table>
  </nb-alert>
</ng-container>
<hr>

<ng-container *ngIf="currentUser !== undefined && recipe!.user.username !== currentUser.username">
  <h6>Comment down below!</h6>
  <nb-select [(selected)]="commentRating">
    <nb-option [value]="'title'">Rating out of 5</nb-option>
    <nb-option [value]="1">1</nb-option>
    <nb-option [value]="2">2</nb-option>
    <nb-option [value]="3">3</nb-option>
    <nb-option [value]="4">4</nb-option>
    <nb-option [value]="5">5</nb-option>
  </nb-select>
  <hr>
  <h6 class="skinnyheader">Your review</h6>
  <textarea nbInput [(ngModel)]="commentText" [rows]="5" [cols]="100"></textarea>
  <br>
  <button nbButton [disabled]="commentRating == 'title' || commentText == ''" (click) = "comment()">Submit</button>
  <hr>
</ng-container>
<ng-container *ngIf="!currentUser">
  <b>You must <a routerLink="/login">log in</a> to comment.</b>
</ng-container>
<h6>Comments</h6>
<hr>
<nb-alert status="basic" *ngFor="let comment of comments">
  <span><app-userlink [username]="comment.user.username"></app-userlink> at {{luxon.fromISO(comment.created_at!).toJSDate().toLocaleString()}}</span>
  &nbsp;&nbsp;<app-rating [rating]="comment.rating"></app-rating>
  <br>
  <i>{{comment.text}}</i>
</nb-alert>
