<h1>{{recipe!.title}}&nbsp;&nbsp;<app-rating [rating]="recipe!.rating"></app-rating></h1>
<h2><i>{{recipe!.description}}</i></h2>
<h6>Created by {{recipe!.username}}</h6>
<hr>

<nb-alert accent="info">
  Accommodates for the following dietary restrictions:
  <ul>
    <li *ngIf="recipe!.halal">Halal</li>
    <li *ngIf="recipe!.kosher">Kosher</li>
    <li *ngIf="recipe!.vegan">Vegan</li>
    <li *ngIf="recipe!.vegetarian">Vegetarian</li>
    <li *ngIf="recipe!.nutfree">Nut-free</li>
  </ul>
</nb-alert>
<hr>
<h6>Ingredients</h6>
<nb-alert accent="success">
  <ul>
    <li *ngFor="let ingredient of recipe!.ingredients">
      {{ingredient.amount}} of {{ingredient.ingredient}} ({{ingredient.notes ? ingredient.notes : ""}})
    </li>
  </ul>
</nb-alert>
<hr>
<h6>Instructions</h6>
<nb-alert accent="danger">
  <ol>
    <li *ngFor="let instruction of recipe!.instructions">
      {{instruction}}
    </li>
  </ol>
</nb-alert>
<hr>
<h6>Nutrition</h6>
<nb-alert accent="primary">
  <span><i>Calories</i>&nbsp;&nbsp;{{recipe!.nutrition.calories}} kcal</span>
  <br>
  <span><i>Fat</i>&nbsp;&nbsp;{{recipe!.nutrition.fat}} grams</span>
  <br>
  <span><i>Carbohydrates</i>&nbsp;&nbsp;{{recipe!.nutrition.carbs}} grams</span>
  <br>
  <span><i>Protein</i>&nbsp;&nbsp;{{recipe!.nutrition.protein}} grams</span>
</nb-alert>
<hr>

<ng-container *ngIf="currentUser">
  <h6>Comment down below!</h6>
  <nb-select [(selected)]="commentRating">
    <nb-option [value]="'title'">Rating out of 5</nb-option>
    <nb-option [value]="1">1</nb-option>
    <nb-option [value]="2">2</nb-option>
    <nb-option [value]="3">3</nb-option>
    <nb-option [value]="4">4</nb-option>
    <nb-option [value]="5">5</nb-option>
  </nb-select>
  <hr>
  <h6 class="skinnyheader">Your review</h6>
  <textarea nbInput [(ngModel)]="commentText" [rows]="5" [cols]="100"></textarea>
  <br>
  <button nbButton [disabled]="commentRating == 'title' || commentText == ''" (click) = "comment()">Submit</button>
  <hr>
</ng-container>
<ng-container *ngIf="!currentUser">
  <b>You must <a routerLink="/login">log in</a> to comment.</b>
</ng-container>
<h6>Comments</h6>
<hr>
<nb-alert status="basic" *ngFor="let comment of comments">
  <span>{{comment.username}} at {{comment.date.toLocaleDateString()}}</span>
  &nbsp;&nbsp;<app-rating [rating]="comment.rating"></app-rating>
  <br>
  <i>{{comment.text}}</i>
</nb-alert>
